<%= simple_form_for(@post) do |f| %>

<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :content, required: true, maxlength: 140 %>
  <p>This post will be scheduled in <%= Time.zone.name %> time</p>
  <%= f.input :scheduled_at, required: true, as: :datetime_picker %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>

<% end %>


